In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

ModuleNotFoundError: No module named 'tensorflow'

In [6]:
path = r'C:\Users\U6099424\Documents\ML Learn\T-GCN'
for file in os.listdir(path):
    print(file)

sz_adj.csv
sz_poi.csv
sz_speed.csv
sz_weather.csv

In [9]:
df_speed = pd.read_csv(os.path.join(path,'sz_speed.csv'))
df_speed.head()

,90217,90218,90219,90220,90221,90222,90223,90224,90225,90226,...,112746,116097,116098,116099,116100,116157,116219,116220,116221,117189
0,8.471971,18.455410,20.590635,15.345258,9.585218,21.501821,31.611759,0.000000,0.0,22.008941,...,0.000000,27.623514,31.126936,45.680952,18.801449,0.0,22.791096,16.589562,32.590224,0.000000
1,7.807137,15.713816,27.523695,11.087895,9.455280,17.332246,33.976531,12.968823,0.0,17.921757,...,4.193466,14.889713,29.400996,47.128457,18.081014,0.0,22.492316,39.614822,32.588299,0.000000
2,8.809457,8.979647,20.280394,16.523419,8.003314,15.789483,13.747267,12.221143,0.0,21.588447,...,11.076185,0.000000,30.198482,44.345346,17.947455,0.0,22.289410,33.331948,37.471168,0.000000
3,51.590372,23.631243,20.224094,15.116459,6.642644,17.575806,17.657556,15.998745,0.0,24.228905,...,0.000000,34.132564,60.259055,57.122521,35.479929,0.0,40.244356,12.942474,47.140562,39.697219
4,58.770433,20.437740,20.465606,14.820217,11.344404,0.000000,33.878502,5.676248,0.0,26.250064,...,0.000000,15.904281,66.134278,66.451325,37.001600,0.0,37.958725,38.225794,39.550687,0.000000

In [111]:
df_weather = pd.read_csv(os.path.join(path,'sz_weather.csv'),header=None)
df_weather.head()

,0,1,2,3,4,5,6,7,8,9,...,146,147,148,149,150,151,152,153,154,155
0,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [112]:
df_adj = pd.read_csv(os.path.join(path,'sz_adj.csv'),header=None)
df_adj.head()

,0,1,2,3,4,5,6,7,8,9,...,146,147,148,149,150,151,152,153,154,155
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [114]:
speed = df_speed.to_numpy()
weather = df_weather.to_numpy()
adj = df_adj.to_numpy()

In [115]:
adj.shape

(156, 156)

In [27]:
len(speed)

2976

In [28]:
# split train/test

In [116]:
num_train = round(len(speed)*0.8)
num_test = len(speed) - num_train
print('train',num_train)
print('train',num_test)

train 2381
train 595

In [117]:
speed_train = speed[:num_train]
speed_test = speed[:num_test]
weather_train = weather[:num_train]
weather_test = weather[:num_test]

In [124]:
x_train = []
y_train = []
seq_len_x = 10
seq_len_y = 3
for i in range(0,num_train-seq_len_x-seq_len_y):
    x_stack = np.vstack([speed_train[i:i+10],weather_train[i:i+13]])
    x_stack = np.matmul(x_stack,adj)
    x_train.append(x_stack)
    y_train.append(np.vstack(speed_train[i+11:i+14]))

In [126]:
x_train[0]

array([[ 20.90076186,  60.54701618,  87.32605995, ...,  45.23952747,
         70.26631032, 111.17285106],
       [ 21.67392458,  92.30716946,  92.56762352, ...,  37.45146749,
         61.23178515, 125.46725927],
       [ 25.18923177, 106.22631777,  75.159357  , ...,  43.68135917,
         75.01302035, 135.47871822],
       ...,
       [  4.        ,   8.        ,  10.        , ...,   6.        ,
          6.        ,   8.        ],
       [  4.        ,   8.        ,  10.        , ...,   6.        ,
          6.        ,   8.        ],
       [  4.        ,   8.        ,  10.        , ...,   6.        ,
          6.        ,   8.        ]])

In [ ]:
model = keras.Sequential()
model.add(layers.GRU(64, input_shape=(10, 156)))
model.add(layers.BatchNormalization())
model.add(layers.Dense(10))
print(model.summary())